{% extends 'users/base_login.html'%}


{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/index.css' %}">
{% endblock%}

{% block logo %}
    <a href="{% url 'users:index' %}">
        <img src="{% static 'users/images/NMD_logo.jpg' %}" alt="альтернативный текст" width="95px" height="86px">
    </a>

{% endblock %}
{% block header-title%}
    <div class="header-title"> {{header}}</div>
{% endblock %}


{% block action_button %}
{% if form.non_field_errors %}
    <div class="container">
        <div class="alert alert-dismissible fade in">
            <a href="#" class="alert-close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{form.non_field_errors}}</strong>
        </div>
    </div>
{%endif%}
<form action="{% url 'users:index' %}" method="post">
    {% csrf_token %}
    {{ form.email}}
    {{ form.password}}
    <button class="btn" type="submit">Вход</button>
    <a href="{% url 'users:registration'%}">
        <button class="btn" type="button">Регистрация</button>
    </a>
    <div class="checkbox-group">


        <a class="under-signup" href="{% url 'users:recovery' %}">Забыли пароль?</a>
    </div>
</form>
{% endblock %}

