{% extends 'index.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'users/css/index.css' %}">
{% endblock %}


{% block action_button %}


<form method="post">
    {% csrf_token %}

    {{ form.old_password }}
    {{ form.new_password1 }}
    {{ form.new_password2 }}

    <div class="adjust-change-pass">
        <button class="btn-filter" type="submit">Изменить пароль</button>
    </div>

    <div class="form-errors">
        <div class="pass_change_errors_msg">
            {% for f in form %}
            {{ form.non_field_errors }}
            {{ f.errors }}
            {% endfor %}
        </div>
    </div>

</form>
{% endblock %}