{% extends 'products/base_products.html'%}


{% load static %}


{% block css%}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block logo %}
    <a href="{% url 'products:products' %}">
        <img  src="{% static 'images/NMD_logo.jpg' %}" alt="альтернативный текст" width="95px" height="86px">
    </a>
{% endblock %}

{% block content %}
    <div class="profile">
        <div class="profile-title">Профиль</div>
        <div class="profile-form-group">
            <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="profile-image">
                    {% if user.image %}
                    <img src="{{user.image.url}}">
                    {% else %}
                    <img src="{% static 'images/default_avatar.png' %}">
                    {% endif %}"
                </div>
                <label class="input-file">
                    {{form.image}}
                    <span class="input-file-btn">Загрузить фото</span>
                </label>
                <div class="input-group">
                    {{form.first_name}}
                    {{form.last_name}}
                </div>

                <div class="input-group">
                    {{form.username}}
                    {{form.email}}
                </div>
                <button class="btn-save" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}


