{% extends 'products/base_products.html'%}
{% load cropping %}

{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block logo %}
<a href="{% url 'products:products' %}">
    <img src="{% static 'images/NMD_logo.jpg' %}" alt="альтернативный текст" width="95px" height="86px">
</a>
{% endblock %}


{% block content %}

<div class="profile">

    <div class="profile-title">Профиль</div>
    <div class="profile-form-group">

        <form id="profile_form" action="{% url 'users:profile' user.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}


            <div id="image-box" class="image-box">
                <div class="profile-image" id="profile_image">

                {% if user.image %}
                <img id="output" src="{{ user.image.url }}">
                {% else %}
                <img src="{% static 'images/default_avatar.png' %}">
                {% endif %}"

            </div>

            </div>

            <button class="not-visible" id="confirm-btn">Подтвердить</button>






            <div class="input-group">
                {{form.first_name}}
                {{form.last_name}}
            </div>
            <div class="input-group">
                {{form.username}}
                {{form.email}}
            </div>
            <button class="btn-save" type="submit" id="btn_save">Сохранить</button>

        </form>

          <label class="input-file">

                {{form.image}}

                <span class="input-file-btn">Загрузить фото</span>
            </label>



    </div>
</div>
<script>
    let loadFile = function(event) {
       let reader = new FileReader();
         reader.onload = function(){
         let output = document.getElementById('output');
         output.src = reader.result;
         let filename = event.target.files[0].type
         filename = filename.split('/');
             if (filename[0] === 'image'){
         }else{
           alert("Пожалуйста выбирите изображение в формате .jpeg, .jpg, .png или .svg");
         }
       };
         reader.readAsDataURL(event.target.files[0]);
     };

</script>
<script src="{% static 'js/main_cropper.js' %}"></script>
{% endblock %}