{% extends 'users/base_login.html'%}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'recovery.css' %}">
{% endblock%}

{% block logo %}
    <a href="{% url 'users:index' %}">
        <img src="{% static 'images/NMD_logo.jpg' %}" alt="альтернативный текст" width="95px" height="86px">
    </a>
{% endblock %}
{% block header-title%}
    <div class="header-title"> {{header}}</div>
{% endblock %}

{% block action_button %}
    <form action="/" method="post">
        <input class="input" type="email" name="email" placeholder="Email/Почта">
        <a href="recover-confirm.html">
            <button  class="btn" type="button">Восстановить</button>
        </a>
        <a href="{% url 'users:index' %}">
            <button class="btn" type="button">Назад</button>
        </a>
{% endblock %}