{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'test.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link  href="{% static 'cropper.css' %}" rel="stylesheet">
    <script src="{% static 'js/cropper.js' %}"></script>
    <title>Title</title>
</head>
<body>
    <div id="image-box"></div>
    <form action="" id="image-form">
        {% csrf_token %}
        {{form.as_p}}
    </form>
    <button class="not-visible" id="confirm-btn">Confirm</button>
    <script src="{% static 'js/main_cropper.js' %}"></script>
</body>
</html>