{% extends 'products/base_products.html'%}

{% load static %}


{% block css%}
    <link rel="stylesheet" href="{% static 'cart.css' %}">
{% endblock %}

{% block logo %}
    <a href="{% url 'products:products' %}">
        <img src="{% static 'images/logo.png' %}" alt="альтернативный текст">
    </a>
{% endblock %}

{% block content%}
    {% if baskets %}
        <div class="cart_all_products">
                   <div class="cart_title"><span class="cart_title_left">Ваша корзина</span>
                       <a class="clean_cart"  href="{% url 'products:remove_all_user_baskets' %}">

                            <svg class="garbage" viewBox="0 0 32 32" fill="#ececec" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M6 12v15c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3V12H6zm6 13a1 1 0 0 1-2 0v-9a1 1 0 0 1 2 0v9zm5 0a1 1 0 0 1-2 0v-9a1 1 0 0 1 2 0v9zm5 0a1 1 0 0 1-2 0v-9a1 1 0 0 1 2 0v9zM27 6h-6V5c0-1.654-1.346-3-3-3h-4c-1.654 0-3 1.346-3 3v1H5c-1.103 0-2 .897-2 2v1a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1V8c0-1.103-.897-2-2-2zM13 5c0-.551.449-1 1-1h4c.551 0 1 .449 1 1v1h-6V5z"  ></path></svg>
                       Очистить корзину
                       </a>
                   </div>
                    <div class="scroll_products">
                    {% for basket in baskets %}
                            <div class="cart_products">
                               <div class="cart_img"><img width="135px" height="135px"  src="{{basket.product.img.url}}"></div>
                               <div class="cart_info"><span style="float: left">{{basket.product.article}}</span> <span style="float: right">{{basket.product.price}} &#x20bd;</span></div>
                               <div class="cart_info2"><span style="float: left">Размер: {{basket.size.size_name}}</span>
                                   <div class="counter">
                                          <a href="{% url 'products:cart_del_minus_one' basket.id  %}" class="counter_plus_minus">-</a>
                                          <input class="counter_input" type="text" disabled value="{{basket.qty}}"></input>
                                          <a href="{% url 'products:cart_add_plus_one' basket.product.article basket.size.size_name  %}" class="counter_plus_minus" >+</a>
                                   </div>
                               </div>
                               <div class="cart_favorits_and_trash">
                                   <a class="favorits" href="#">
                                       <svg class="favorits_icon" viewBox="0 0 24.6 21.1669" fill="none" stroke="#D0CFCF" xmlns="http://www.w3.org/2000/svg" >
                                       <path id="Vector" d="M12.3 3.06851C11.3732 2.28165 10.2211 1.76352 8.98413 1.5773C7.74722 1.39108 6.47891 1.5448 5.33398 2.01971C4.18903 2.49466 3.21698 3.27029 2.53619 4.25201C1.85544 5.2337 1.49536 6.37912 1.50003 7.54849C1.50003 14.7725 12.3 19.6669 12.3 19.6669C12.3 19.6669 23.1 14.7725 23.1 7.54849C23.1 5.94446 22.4173 4.40616 21.2021 3.27194C19.9868 2.13773 18.3386 1.50046 16.6201 1.50046C15.0216 1.50494 13.4819 2.06381 12.3 3.06851Z"  stroke-opacity="1.000000" stroke-width="3.000000" stroke-linejoin="round"/></svg>
                                   Избранное

                                   </a>

                                   <a class="trash" href="{% url 'products:basket_remove' basket.id %}">
                                       <svg class="little_garbage" viewBox="0 0 32 32" fill="#ececec" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M6 12v15c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3V12H6zm6 13a1 1 0 0 1-2 0v-9a1 1 0 0 1 2 0v9zm5 0a1 1 0 0 1-2 0v-9a1 1 0 0 1 2 0v9zm5 0a1 1 0 0 1-2 0v-9a1 1 0 0 1 2 0v9zM27 6h-6V5c0-1.654-1.346-3-3-3h-4c-1.654 0-3 1.346-3 3v1H5c-1.103 0-2 .897-2 2v1a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1V8c0-1.103-.897-2-2-2zM13 5c0-.551.449-1 1-1h4c.551 0 1 .449 1 1v1h-6V5z"  ></path></svg>
                                   <span class="cart_icons">Удалить</span>
                                   </a>
                               </div>
                            </div>
                    {% endfor %}
                    </div>
        </div>
                   <div class=confirm_order_group>
                        <div class="cart_total_info">
                            <div class="total_cart_amount"> <span style="float: left">ИТОГО:</span> <span style="float: right">{{baskets.total_sum}} &#x20bd;.</span></div>
                            <div class="total_cart_qty"> <span style="float: left"> {{baskets.total_qty}} товаров на сумму:</span> <span style="float: right"> {{baskets.total_sum}} &#x20bd;</span></div>
                            <div class="total_cart_discount"> <span style="float: left">Сумма скидки</span> <span style="float: right">0 &#x20bd;</span></div>
                            <button class="btn_buy" type="submit">Оформить заказ</button>
                        </div>
                   </div>
               </div>
    {% else %}
        <div class="cart_all_products">
            <div class="cart_title"><span class="cart_title_left">Ваша корзина</span></div>
            <div class="no_goods_message">В вашей корзине пока еще нет товаров</div>
               </div>
                   <div class=confirm_order_group>
                        <div class="cart_total_info">
                            <div class="total_cart_amount"> <span style="float: left">ИТОГО:</span> <span style="float: right">{{baskets.total_sum}} &#x20bd;.</span></div>
                            <div class="total_cart_qty"> <span style="float: left"> {{baskets.total_qty}} товаров на сумму:</span> <span style="float: right"> {{baskets.total_sum}} &#x20bd;</span></div>
                            <div class="total_cart_discount"> <span style="float: left">Сумма скидки</span> <span style="float: right">0 &#x20bd;</span></div>
                            <button class="btn_disabled">Оформить заказ</button>
                        </div>
                   </div>
               </div>
    {% endif %}
{% endblock %}

