{% extends 'products/base_products.html'%}

{% load static %}

{% load products_tags %}

{% block css%}
<link rel="stylesheet" href="{% static 'products/css/item_info.css' %}">
{% endblock %}

{% block logo %}
<a href="{% url 'products:products' %}">
    <img src="{% static 'products/images/NMD_logo.jpg' %}" alt="альтернативный текст" width="95px" height="86px">
</a>
{% endblock %}

{% block content%}
<div class="item-label">{{product.description}}</div>
<div class="item-content">
    <div class="item-photo">

        <a class="btn-favorites" name='heart_favorites'
           href="{% url 'products:favorites_add' product.article %}">
            <svg class="favorites-heart" data-is_favorite="{% get_favorites filter=request.user filter_2=product%}"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#ababab" width="64px"
                 height="64px"
                 viewBox="0 0 32 32" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M16.0298 5.33C17.5998 3.88 19.6898 3 21.9998 3C26.9698 3 30.9998 7.03 30.9998 12C30.9998 20 20.9998 29 15.9998 31C10.9998 29 0.999817 20 0.999817 12C0.999817 7.03 5.02982 3 9.99982 3C12.3098 3 14.4098 3.88 15.9998 5.3L16.0298 5.33Z"></path>
                    <path d="M16 5.30451C14.407 3.87551 12.309 2.99951 10 2.99951C5.029 2.99951 1 7.02951 1 11.9995C1 19.9995 11 28.9995 16 30.9995C21 28.9995 31 19.9995 31 11.9995C31 7.02951 26.971 2.99951 22 2.99951C18.477 2.99951 15.479 5.05051 14 7.99951M27 11.9998C27 9.23781 24.762 6.99981 22 6.99981"></path>
                </g>
            </svg>
        </a>
        <img class="big-img" src="{{ product.img.url }}" alt="нет фото">
    </div>
    <div class="info-group">
        <div class="price">Цена: <span>&nbsp;&nbsp;{{product.price}} &#x20bd;</span></div>
        <div class="description">{{product.full_description}}</div>
        <div class="color">Цвет: &nbsp;&nbsp;{{product.color}}</div>
        <div class="color-pictures-group">
            <div class="color-pictures">
                {%if products|length > 1%}
                {% for prod in products %}
                {% if prod.article != product.article %}
                <a href="{% url 'products:item_info' prod.article %}">
                    <img class="colors-image" src="{{ prod.img.url }}" alt="нет фото">
                </a>
                {%else%}
                {% endif %}
                {% endfor %}
                {%else%}
                <a href="{% url 'products:item_info' product.article %}">
                    <img class="colors-image" src="{{ product.img.url }}" alt="нет фото">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="sizes-label">Размеры:</div>
        <div class="sizes-group">

            <form id="{{product.article}}" action="" method="post" class="item-size-form">
                {% for size in sizes %}
                {% if product.article == size.to_article %}
                <label>
                    {% csrf_token %}
                    <input class="size_checkbox" data="{{product.article}}" type="checkbox" name="checked_size_id"
                           value="{{size}}">
                    <div class="title_checkbox">{{size.size_name}}</div>
                </label>
                {%else%}
                {%endif%}
                {% endfor %}
            </form>

        </div>
        <button class="btn" form="{{product.article}}" data="{{product.article}}"
                formaction="{% url 'products:basket_add' product.article %}" name="btn" type="submit">
            <svg class="button-cart" fill="#C0BFBF" width="64px" height="64px" viewBox="-2 -2 204.00 204.00"
                 data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier"><title></title>
                    <path d="M183.25,52.75a18.22,18.22,0,0,0-7-1h-91c-3.5,0-8-.5-11.5.5a9.64,9.64,0,0,0-7.5,9.5,10,10,0,0,0,10,10h90.5l-8,42a10.22,10.22,0,0,1-10,8h-75a10.66,10.66,0,0,1-10-8l-16-74a20.3,20.3,0,0,0-19.5-16h-7a10,10,0,0,0,0,20h7l16,74c3,14,15,23.5,29.5,23.5h75c12,0,24.5-8,28-19.5,2.5-8,4-17,5.5-25,1.5-8.5,3.5-17,5-25a17.76,17.76,0,0,0,1-5,17,17,0,0,0,.5-5c0-4-2-8-5.5-9Zm-132,108.5a15,15,0,0,0,30,0h0a15,15,0,0,0-30,0Zm90,0a15,15,0,1,0,15-15,15,15,0,0,0-15,15v0Z"></path>
                </g>
            </svg>
            В корзину
        </button>
        {% include 'products/popup.html'%}
    </div>
</div>

<script>
    let popups = document.querySelectorAll(".popup");
    let btns = document.querySelectorAll('button[name="btn"]');
    let popups_close = document.querySelectorAll(".popup-close");
    console.log(btns);

    for ( let index = 0; index < btns.length; index++){
        let btn = btns[index];
        let popup_close = popups_close[index];
        let popup = popups[index];

      btn.addEventListener("click", function () {
        let checkboxes = document.querySelectorAll('input[name^="checked_size_id"]');
        var is_checked = 0;


        for (let checkbox of checkboxes) {
          if (checkbox.checked && checkbox.getAttribute('data') ===btn.getAttribute('data')) {
            is_checked = 1;
            break;
          } }

        if(is_checked === 0){
            event.preventDefault()
            popup.style.display = 'block';

          }
      });
        popup_close.addEventListener("click", function () {
          popup.style.display = 'none';
      });

    };
    function isChecked() {
         let popup_checked = 0;
         let popup_checkboxes = document.querySelectorAll('input[name="checked_size_id"]');
         for (let popup_checkbox of popup_checkboxes){
            if (popup_checkbox.checked){
                popup_checked = 1;
                break;
            }
         }
         if (popup_checked === 0) {
            event.preventDefault()
         }

      }
</script>
<script>
    let hearts = document.querySelectorAll('a[name^="heart_favorites"]');

    for (let heart of hearts) {

        var heart_child_elem = heart.children[0];

        if (heart_child_elem.getAttribute('data-is_favorite') == 'True') {
          heart_child_elem.setAttribute('class','favorites-heart-checked');
        } else {
          heart_child_elem.setAttribute('class','favorites-heart');
        }
    };
</script>
{% endblock %}

