html {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

body {
    font-size: 1rem;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page {
    margin: 0;
    width: auto;
    max-width: 80rem;
    min-width: 73rem;
    height: 100vh;
    background: #fff;
}

.header {
    width: auto;
    height: 4rem;
    max-width: 80rem;
    min-width: 73rem;
    flex-shrink: 0;
    border-top: 1rem #cdcecf solid;
    border-bottom: 1rem #cdcecf solid;
    box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.25), 0 .2rem .2rem 0 rgba(0, 0, 0, 0.25);

    position: relative;

    background: #BC0D2E;
}

.logo {
    width: 4.75rem;
    height: 4.25rem;
    box-shadow: .5rem 0 .75rem .1rem rgba(0, 0, 0, 0.4), -.5rem 0 .75rem .1rem rgba(0, 0, 0, 0.4);
    cursor: pointer;

    position: absolute;
    top: -1.3rem;
    left: 5rem;
}

.logo:hover {
    transition: .7s;
    box-shadow: .25rem 0 .5rem 0px rgba(0, 0, 0, 0.3), -.25rem 0 .5rem 0px rgba(0, 0, 0, 0.3);
}

.logo:active {
    box-shadow: inset .5rem 0 1rem .1rem rgba(0, 0, 0, 0.5), inset -.5rem 0 1rem .1rem rgba(0, 0, 0, 0.5);
    filter: brightness(90%)
}

.catalogue {
    display: inline-flex;
    width: 7rem;
    height: 1.5rem;
    padding: .3em;
    margin: .33em;
    justify-content: space-between;
    gap: .5rem;
    border-radius: .25rem;

    background: linear-gradient(180deg, #C0BFBF 26.04%, #F6F6F6 81.77%);
    box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.25);
    color: #BC0D2E;
    cursor: pointer;
    text-align: center;
    font-family: Montserrat;
    font-size: .8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .01rem;

    position: absolute;
    left: 13rem;
}

.catalogue:hover {
    transition: .5s;
    background: linear-gradient(180deg, #C0BFBF 15.04%, #F6F6F6 90.77%);
    filter: brightness(90%)
}

.catalogue:active {
    box-shadow: none;
    filter: brightness(85%)
}

.nav-bar-group {
    display: block;
}

.search-field {
    display: flex;
    width: 32.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin: .25em;
    padding: .45rem 1.7rem .45rem 1.65rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: .25rem;
    outline: none;
    border: none;

    background: #FFF;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    position: absolute;
    left: 24.8rem;
}

.magnifier {
    width: 1.5rem;
    height: 1.5rem;
    margin: .2em;
    flex-shrink: 0;

    position: absolute;
    left: 55rem;
}

.magnifier:hover {
    stroke: #A9A5A5;
}

.magnifier:active {
    stroke: #817F7F;
}

.input:focus {
    background-color: #fff;
}

.input:hover {
    background-color: #fff;
}

.icons {
    width: 9rem;
    height: 2.4rem;

    position: absolute;
    left: 62rem;
}

.human {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.human:hover {
    fill: #A9A5A5;
}

.human:active {
    fill: #817F7F;
}

.heart {
    width: 2.rem;
    height: 2rem;
    flex-shrink: 0;
}

.heart:hover {
    fill: #A9A5A5;
}

.heart:active {
    fill: #817F7F;
}

.cart {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.cart:hover {
    fill: #A9A5A5;
}

.cart:active {
    fill: #817F7F;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    width: 6.5rem;
    height: auto;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
    background: #eee;
    border-radius: .25rem;

    font-family: Montserrat;
    font-size: .8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;

    position: absolute;
    top: 2rem;
    right: -4.5rem;
}

.dropdown:hover .dropdown-content .drop-row {
    display: block;
    padding-top: 0.45rem;
    padding-bottom: 0.35rem;

    text-align: center;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content .drop-row a {
    display: block;
    border-radius: .25rem;

    color: #BC0D2E;
    text-decoration: none;
    text-align: center;
}

.dropdown .dropdown-content .drop-row a:hover {
    color: #970a24;
    background: #dad7d7;
}

.dropdown .dropdown-content .drop-row:hover {
    color: #970a24;
    background: #dad7d7;
    border-radius: .25rem;
    text-align: center;
    font-family: Montserrat;
    font-size: .8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dropdown .dropdown-content .drop-row a:active {
    color: #6d071a;
    background: #c5c4c4;
}

.dropdown .dropdown-content .drop-row:active {
    color: #6d071a;
    background: #c5c4c4;
}

.counter-icon-group {
    display: flex;
    gap: 1rem;
    width: 4rem;

    position: relative;
    top: -2.5rem;
    left: 3.6rem;
}

.heart-counter {
    width: 1rem;
    height: 1rem;
    justify-content: center;

    font-weight: bold;
    font-size: .8rem;
    background: #c03;
    font-color: #c03;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 .1rem .1rem 0 rgba(0, 0, 0, 0.25);

    position: relative;
}


.cart-counter {
    display: flex;
    width: 1rem;
    height: 1rem;
    justify-content: center;

    font-weight: bold;
    font-size: .8rem;
    background: white;
    font-color: white;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 .1rem .1rem 0 rgba(0, 0, 0, 0.25);

    position: absolute;
    left: 2.3rem;
}

.banner {
    width: 63.25rem;
    height: 11rem;
    margin: 2rem 5rem;

    border-radius: .5rem;
    border: 1px solid #000;
    background: #FFF;
}

.main {
    width: auto;
    height: auto;
    background: #fff;
}

.content {
    display: flex;
    width: auto;
    height: 28rem;
    margin: 2rem 5.1rem;
}

.filter-group {
    width: 100%;
    height: 25rem;
    margin-top: .35rem;
    margin-right: .5rem;
}

.filter {
    width: 100%;
    height: 22.4rem;
    flex-shrink: 0
    border-collapse: collapse;
    border-radius: .25rem;
    margin-top: .35rem;
    margin-right: .65rem;

    overflow-x: hidden;
    overflow-y: auto;

    background: #FFF;
    box-shadow: -.2rem 0 .35rem 0 rgba(0, 0, 0, 0.25);
}

.filter-header {
    margin-top: 1.75rem;
    margin-left: .4rem;

    color: #000;
    text-align: left;
    font-family: Montserrat;
    font-size: .8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
}

.checkbox {
    display: inline;
    width: .75rem;
    height: .8rem;
    padding: .5rem;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: sub;
    margin-left: .5rem;
    gap: .5rem;
    flex-shrink: 0;

    border-radius: .1rem;
    border: .15rem solid #C0BFBF;
    background: #FFF;
}

.label {
    display: inline-block;
    width: 11.75rem;
    height: .75rem;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    margin-top: .2rem;
    margin-left: .3rem;
    flex-shrink: 0;

    color: #000;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.label:hover {
    color: #9c0925;
    cursor: pointer;
}

.label:active {
    color: #790218;
    cursor: pointer;
}

input[type=checkbox]:checked + label {
  color: #9c0925;
}

.btn-filter {
    display: flex;
    width: 15.9rem;
    height: 1.7rem;
    padding: .1rem 1.5rem;
    justify-content: center;
    align-items: justify;
    flex-shrink: 0;

    border-radius: .5rem;
    background: #BC0D2E;
    color: #C0BFBF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: .5rem 0;
    box-shadow: 0 .5rem .75rem .1rem rgba(0, 0, 0, 0.5);

    outline: none;
    border: none;
    cursor: pointer;
}

.btn-filter:hover {
    transition: .5s;
    color: white;
    background: #9c0925;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-filter:active {
    background: #790218;
    box-shadow: inset 0 .5rem 1rem .1rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.goods-group {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 27.7rem;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.goods {
    width: 14rem;
    height: 26.75rem;
    margin: .35rem;
    margin-left: .9rem;
    margin-bottom: .75rem;
    flex-shrink: 0;

    border-radius: .25rem;
    background: #FFF;
}

.goods:hover {
    background: #FFF;
    box-shadow: 0 -.2rem .35rem 0 rgba(0, 0, 0, 0.07), 0 .2rem .2rem 0 rgba(0, 0, 0, 0.38);
}

.favorites-heart {
    width: 2.05rem;
    height: 1.95rem;
    flex-shrink: 0;
}

.favorites-heart:hover {
    stroke: #bd0d2e;
    cursor: pointer;
}

.favorites-heart-checked {
    width: 2.05rem;
    height: 1.95rem;
    flex-shrink: 0;
    stroke: #f3b1b1;
    fill: #bd0d2e;
    cursor: pointer;
}

.btn-favorites {
    display: flex;
    width: 0rem;
    height: 0rem;
    border: none;
    position: relative;
    left: 10rem;
    bottom: 12.5rem;
    justify-content: left;
    background-color: white;
}

.shoe-photo {
    width: 12rem;
    height: 11rem;
    flex-shrink: 0;
    margin: .5rem 1.15rem;
    margin-bottom: 3rem;
}

.price_group {
    width: 12rem;
    height: 2.5rem;
    flex-shrink: 0;
    margin-left: 1.15rem;

    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.price {
    width: 10rem;
    height: 2.5rem;
    padding-left: 1rem;
    flex-shrink: 0;

    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    display: flex;
    width: 12rem;
    height: 3.25rem;
    margin-left: 1.15rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #000;
    font-family: Inter;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sizes-group {
    display: flex;
    width: 12rem;
    height: 2.25rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    padding-top: .5rem;
    padding-left: .2rem;
    margin-left: .95rem;

    overflow-x: hidden;
    overflow-y: auto;
}

.size {
    margin: 0 .25rem;

    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.title-checkbox {
    display: inline-block;
    padding: .25rem;
    margin-bottom: .3rem;

    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.size-checkbox[type="checkbox"] {
    display: none;
}

.size-checkbox[type="checkbox"]:hover + .title-checkbox {
    border-radius: .25rem;
    background: #FFF;
    box-shadow: 0 -.2rem .35rem 0 rgba(0, 0, 0, 0.07), 0 .2rem .2rem 0 rgba(0, 0, 0, 0.38);
    cursor: pointer;
}

.size-checkbox[type="checkbox"]:checked + .title-checkbox {
    border-radius: .25rem;
    box-shadow: inset .1rem .1rem .1rem 0 rgba(0, 0, 0, 0.20),inset -.1rem -.1rem .1rem 0 rgba(0, 0, 0, 0.20);
    transition: .5s;
    cursor: pointer;
}

.btn {
    display: flex;
    width: 12rem;
    height: 1.7rem;
    margin-left: 1.15rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    padding: .1rem 1.95rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: .5rem;
    background: #BC0D2E;
    color: #C0BFBF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-shadow: 0 .5rem .75rem .1rem rgba(0, 0, 0, 0.5);

    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transition-duration: .5s;
    color: white;
    svg {
      transition-duration: .5s;
      fill: white;
    }
    background: #9c0925;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.5);
}

.btn:active {
    background: #790218;
    box-shadow: inset 0 .5rem 1rem .1rem rgba(0, 0, 0, 0.25);
}

.button-cart {
    width: 1.55rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin-right: .5rem;
}

/*POPUP*/
.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup-body {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.popup-content {
    height: 17.5rem;
    width: 25rem;
    max-width: 25rem;
    padding: 2.5rem;

    border-radius: .5rem;
    background-color: #fff;
    color: #000;

    position: relative;
}

.popup-title {
    font-size: 2rem;
    margin: 2rem 0;
    margin-bottom: 0;
    padding-bottom: .5rem;
}

.popup-close {
    padding-right: .25rem;

    font-size: 1rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;

    position: absolute;
    right: 1rem;
    top: 1rem;
}

.popup-sizes-group {
    display: flex;
    width: 18rem;
    height: 2.75rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    padding-top: .1rem;
    padding-left: .2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-popup {
    display: flex;
    width: 20rem;
    height: 3rem;
    margin: 2.5rem 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: .75rem;
    background: #BC0D2E;
    color: #C0BFBF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 .5rem 1rem .25rem rgba(0, 0, 0, 0.5);

    outline: none;
    border: none;
    cursor: pointer;
}

.btn-popup:hover {
    transition-duration: .5s;
    color: white;
    svg {
      transition-duration: .5s;
      fill: white;
    }
    background: #9c0925;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn-popup:active {
    background: #790218;
    box-shadow: inset 0 .5rem 1rem .1rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.popup-button-cart {
    width: 2.55rem;
    height: 40.5rem;
    margin-right: 1.5rem;
    flex-shrink: 0;
    cursor: pointer;
}

/*POPUP*/

/*POPUPS SIZES*/
.title-popup-checkbox {
    display: inline-block;
    margin-bottom: .25rem;
    padding: .15rem;

    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.size-popup-checkbox[type="checkbox"] {
    display: none;
}

.size-popup-checkbox[type="checkbox"]:hover + .title-popup-checkbox {
    border-radius: .25rem;
    background: #FFF;
    box-shadow: 0 -.2rem .35rem 0 rgba(0, 0, 0, 0.07), 0 .2rem .2rem 0 rgba(0, 0, 0, 0.38);
    transition: .5s;
    cursor: pointer;
}

.size-popup-checkbox[type="checkbox"]:checked + .title-popup-checkbox {
    border-radius: .25rem;
    box-shadow: inset .1rem .1rem .1rem 0px rgba(0, 0, 0, 0.20),inset -.1rem -.1rem .1rem 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}
/*POPUPS SIZES*/

.pagination {
    display: block;
    width: 100%;
    height: 2rem;
    margin: 1rem 25%;
    margin-bottom: .75rem;
}

.pagination a {
    color: black;
    padding: .4rem .8rem;
    vertical-align: middle;

    text-decoration: none;
    transition: background-color .3s;
}

.pagination a:hover:not(.disabled) {
    background-color: #ddd;
}

.disabled {
    color: linen;
    opacity: 0.3;
    cursor: not-allowed;
}

.footer {
    display: flex;
    width: auto;
    height: 4rem;
    justify-content: center;
    align-items: center;

    background: #cdcecf;
    box-shadow: 0 -.2rem .2rem 0 rgba(0, 0, 0, 0.25), 0 -.2rem .2rem 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: .8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.catalogue-info{
    display: block;
    justify-content: center;
    margin: auto;
}

.catalogue-back-btn{
    display: flex;
    justify-content: center;
    margin: auto;
}