@import url("products.css");


/*Main block*/
.main{
    display: flex;
    width: auto;
    height: 100vh;
    background: #fff;
    margin: 0 auto;
}

.favorites-list{

    width: 850px;
    height: 600px;
    flex-shrink: 0;

    border-radius: 10px;
    background: linear-gradient(180deg, #C0BFBF 20.92%, rgba(192, 191, 191, 0.00) 99.54%);

    margin: 0 auto;
    margin-right: 10px;
    margin-top: 20px;
}
.in-cart-block{
    display: flex;
    width: 500px;
    height: 600px;
    flex-shrink: 0;

    border-radius: 10px;
    background: linear-gradient(180deg, #C0BFBF 0%, rgba(192, 191, 191, 0.00) 100%);

    margin: 0 auto;
    margin-left: 10px;
    margin-top: 20px;

}







.scroll_products{
    display: flex;
    flex-wrap: wrap;
    height: 520px;


    overflow-x: hidden;
    overflow-y: auto;
}




.cart_title{
    display:flex;
    width: 780px;
    height: auto;
    margin: 1rem auto;

    color: rgb(189, 13, 46);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    justify-content: space-between;
    text-align: center;
    vertical-align: center;
    }


.garbage{

    width: 1.5rem;
    height: 1.5rem;

    position: relative;
    right: .2rem;
    top: .15rem;



}

.clean_cart{
display: block;
width: 280px;
height: auto;
padding-top: .37rem;


color: rgb(236, 236, 236);
font-family: Montserrat;
font-size: 32px;
font-weight: 700;

text-align: center;
border: none;



}

.clean_cart:hover{
    transition-duration: 0.3s;
    color: #bd0d2e;
    svg {
      transition-duration: 0.3s;
      fill: #bd0d2e;
    }
    cursor: pointer;
}
.clean_cart:active{

    transition-duration: 0.1s;
    color: #950722;
    svg {
      transition-duration: 0.1s;
      fill: #950722;
    }
    cursor: pointer;
}


.favorites-list-products{
    display: flex;
    flex-wrap: wrap;

    width: 780px;
    height: 250px;


    border-radius: 10px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 15px;

}

.cart_img{
    width: 175px;
    height: 135px;
    margin: 0 auto;
    margin-bottom: 0;
    margin-left: 40px;

}

.cart_info{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 135px;
    justify-content: space-between;
    margin: 30px 75px;
    margin-bottom:0;




    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;

}



.sizes-group{

    display: flex;

    width: 350px;
    height: 50px;
    justify-content:space-between;
    margin: 0 0;



}

.sizes{

    width: 140px;
    margin-right: 21px;
}

.size_checkbox[type="checkbox"]{
   display: none;

}

.size_checkbox[type="checkbox"]:hover + .title_checkbox{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.07), 0px 4px 4px 0px rgba(0, 0, 0, 0.38);
}

.size_checkbox[type="checkbox"]:checked + .title_checkbox{
    border-radius: 5px;

    box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.07), 0px 4px 4px 0px rgba(0, 0, 0, 0.38);
    color: red;
    border: 2px solid black;
}

.favorites-trash-group{
    display:flex;

    width: 412px;
    height: 30px;
    margin-left: 40px;



}

.little_garbage{

    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    top: 4px;


}

.favorites-trash{
    margin-top: 10px;

    color: rgb(225, 225, 225);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    border: none;

}

.favorites-trash:hover{
     transition-duration: 0.3s;
    color: #bd0d2e;
    svg {
      transition-duration: 0.3s;
      fill: #bd0d2e;
    }
    cursor: pointer;
}

.favorites-trash:active{
     transition-duration: 0.1s;
    color: #950722;
    svg {
      transition-duration: 0.1s;
      fill: #950722;
    }
    cursor: pointer;
}







.no_goods_message{
    display: flex;
    position: absolute;
    top: 390px;
    left: 110px;
    width: auto;
    height: auto;
    font-size: 46px;
    font-weight: bold;

}






.cart-total-info{
    display: block;
    width: 430px;
    height: 400px;
    margin:auto;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;



    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    margin: 88px auto;




    color: #000;
}



.total-cart-qty{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;


    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;



}

.total-cart-amount-no-discount{
  display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;


    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;

}



.total-cart-discount{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;


    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;

}

.total-cart-amount{
    display: flex;
    justify-content: space-between;
    margin: 5rem 2rem;


    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.7rem;
    font-weight: 700;


}


.btn_buy{
    display: flex;
    width: 340px;
    height: 63px;
    position: relative;
    top: 100px;
    padding: 12px 24px 12px 23px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 10px;
    background: #BD0D2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    outline:none;
    border:none;
    margin:34px auto 0 auto;


}


.profile_cart_total_sum{
    width: auto;
    height: auto;
    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


    margin: 0 10px 0 0;
    padding: 0px 15px;

}



.btn_favorites_to_cart{
    display: flex;
    width: 260px;
    height: 43px;

    padding: 12px 24px 12px 23px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 5px;

    border-radius: 10px;
    background: #BD0D2E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    outline:none;
    border:none;


}

.btn_favorites_to_cart:hover{
    background: #9c0925;
}

.btn_favorites_to_cart:active{
    background: #790218;
}

.btn_buy:hover{
    background: #9c0925;
}

.btn_buy:active{
    background: #790218;
}

.button-cart{
    width: 4rem;
    height: 3rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}







