@import url("products.css");

/*Main block*/
.main{
    display: flex;
    width: auto;
    height: 100vh;
    margin: 0 auto;

    background: #fff;
}

.favorites-list{
    width: 42.5rem;
    height: 30rem;
    flex-shrink: 0;
    margin: 0 auto;
    margin-right: .5rem;
    margin-top: 1rem;

    border-radius: .5rem;
    background: linear-gradient(180deg, #C0BFBF 20.92%, rgba(192, 191, 191, 0.00) 99.54%);
}
.in-cart-block{
    display: flex;
    width: 25rem;
    height: 32rem;
    margin: 0 auto;
    margin-left: .5rem;
    margin-top: 1rem;
    flex-shrink: 0;

    border-radius: .5rem;
    background: linear-gradient(180deg, #C0BFBF 0%, rgba(192, 191, 191, 0.00) 100%);
}


.scroll-products{
    display: flex;
    flex-wrap: wrap;
    height: 26rem;

    overflow-x: hidden;
    overflow-y: auto;
}

.cart_title{
    display:flex;
    width: 39rem;
    height: auto;
    margin: 1rem auto;

    color: rgb(189, 13, 46);
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    justify-content: space-between;
    text-align: center;
    vertical-align: center;
}


.garbage {
    width: 1.5rem;
    height: 1.5rem;

    position: relative;
    right: .2rem;
    top: .15rem;
}

.clean_cart {
    display: block;
    width: 14rem;
    height: auto;
    padding-top: .37rem;


    color: rgb(236, 236, 236);
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    border: none;
}

.clean_cart:hover{
    transition-duration: 0.3s;
    color: #bd0d2e;
    svg {
      transition-duration: 0.3s;
      fill: #bd0d2e;
    }
    cursor: pointer;
}
.clean_cart:active{

    transition-duration: 0.1s;
    color: #950722;
    svg {
      transition-duration: 0.1s;
      fill: #950722;
    }
    cursor: pointer;
}


.favorites-list-products{
    display: flex;
    flex-wrap: wrap;
    width: 39rem;
    height: 12.5rem;
    margin: 0 auto;
    margin-bottom: .75rem;

    border-radius: .5rem;
    box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.cart-img{
    width: 8.75rem;
    height: 6.75rem;
    margin: 0 auto;
    margin-bottom: 0;
    margin-left: 2rem;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
    width: 14rem;
    height: 6.75rem;
    justify-content: space-between;
    margin: 1.5rem 3.75rem;
    margin-bottom:0;

    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2rem;
    letter-spacing: 0%;
}

.sizes-group{
    display: flex;
    width: 14rem;
    height: 3.9rem;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.sizes{
    width: 17rem;
    padding: .3rem .1rem;
    padding-top: .1rem;
}

.favorites-trash-group{
    display:flex;
    width: 20.6rem;
    height: 1.5rem;
    margin-left: 2rem;
}

.little_garbage{
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    top: .2rem;
}

.favorites-trash{
    margin-top: .5rem;

    color: rgb(225, 225, 225);
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 700;
    line-height: .85rem;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    border: none;

}

.favorites-trash:hover{
     transition-duration: 0.3s;
    color: #bd0d2e;
    svg {
      transition-duration: 0.3s;
      fill: #bd0d2e;
    }
    cursor: pointer;
}

.favorites-trash:active{
     transition-duration: 0.1s;
    color: #950722;
    svg {
      transition-duration: 0.1s;
      fill: #950722;
    }
    cursor: pointer;
}

.no-goods-message{
    display: flex;
    width: auto;
    height: auto;

    font-size: 2.3rem;
    font-weight: bold;

    position: absolute;
    top: 19.5rem;
    left: 5.5rem;
}

.cart-total-info{
    display: block;
    width: 21.5rem;
    height: 20rem;
    margin: 4.4rem auto;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    border-radius: .5rem;
    background: #FFF;
    box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.25);
    color: #000;
}

.total-cart-qty{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;

    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
}

.total-cart-amount-no-discount{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;

    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
}



.total-cart-discount{
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem;

    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 600;
}

.total-cart-amount{
    display: flex;
    justify-content: space-between;
    margin: 5rem 2rem;

    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.7rem;
    font-weight: 700;
}

.btn_buy{
    display: flex;
    width: 17rem;
    height: 3.15rem;
    margin:1.7rem auto 0 auto;
    padding: .6rem 1.2rem .6rem 1.15rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: .5rem;
    background: #BD0D2E;
    box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    outline:none;
    border:none;

    position: relative;
    top: 5rem;

}


.profile_cart_total_sum{
    width: auto;
    height: auto;
    margin: 0 .5rem 0 0;
    padding: 0 .75rem;

    color: #000;
    text-align: justify;
    font-family: Montserrat;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.btn_favorites_to_cart{
    display: flex;
    width: 13rem;
    height: 2.15rem;
    padding: .6rem 1.2rem .6rem 1.15rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: .25rem;

    border-radius: .5rem;
    background: #BD0D2E;
    box-shadow: 0 .5rem .75rem .1rem rgba(0, 0, 0, 0.5);
    color: #C0BFBF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;

    outline:none;
    border:none;
}

.btn_favorites_to_cart:hover{
    transition-duration: .5s;
    color: white;
    svg {
      transition-duration: .5s;
      fill: white;
    }
    background: #9c0925;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.5);
}

.btn_favorites_to_cart:active{
    background: #790218;
    box-shadow: inset 0 .5rem 1rem .1rem rgba(0, 0, 0, 0.25);
}

.button-cart{
    width: 4rem;
    height: 3rem;
    flex-shrink: 0;
    margin-right: 0.5rem;

}

.btn-to-cart-redirect {
    display: flex;
    width: 13rem;
    height: 2.15rem;
    margin: 0 auto;
    padding: .6rem 1.2rem .6rem 1.15rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: .25rem;

    border-radius: .5rem;
    background: #BD0D2E;
    box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2rem;

    outline:none;
    border:none;
}